.task-list{
  text-align: center;
  margin: 20px;
}

.task-list button{
margin-right: 15px;
width: 100px;
}

.task-item-left{
  text-align: left;
  padding-left: 20px;
}

.new-task-button{
  background-color: rgb(54, 183, 54);
}



.task-list ul {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  padding: 10px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
